# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data directories
data/images/
data/labels/
data/testing cache/
data/labels.cache
data/labels.txt

datasets/
runs/

# Ignore logs and temporary files
*.log
*.tmp

# System-specific files
.DS_Store
Thumbs.db